<% layout("./layouts/boilerplate") %>

<div class="Main col-10 mx-auto">
  <div>
    <div class="main d-flex justify-center">
      <div class="showImage" style="width: 100vw; display: flex; justify-content: center; align-items: center;">
        
      <% if (FileType === 'video') { %>
          <video src="/uploads/Images/<%= media.FileName %>" style="width: 70vw; height: 75vh; border-radius: 0.5rem" controls autoplay muted></video>
      <% } else if (FileType === 'image') { %>
          <img src="/uploads/Images/<%= media.FileName %>" style="width: 70vw; height: 75vh; border-radius: 0.5rem" id="DownloadImage"/>
      <% } else { %>
          <p>Unsupported media type.</p>
      <% } %>

      </div>
    </div>
    <div class="DownloadBtn">
      <button type="button" class="btn btn-success ms-5 mt-5 mb-4 me-5" id="DownloadButton">
        <a href="/uploads/Images/<%= media.FileName %>" download style="text-decoration: none; color: white; right: 0"> Download Image </a>
      </button>
    </div>
  </div>

  <hr class="w-80">

  <div class="comments my-3" >
    <h1 class="h1">Comments</h1>

    <div class="" style="display: flex; flex-wrap: wrap;">

      <% for(comment of media.Comments){ %>
        <div class="container mt-5 d-flex">
          <div class="comment-box border-bottom">
              <div class="comment-header">
                  <img src="/uploads/ProfilePictures/<%= comment.owner.ProfilePic.FileName %>" alt="User Avatar" class="comment-avatar">
                  <div class="comment-content">
                      <div><span class="comment-username"> <%= comment.owner.username %> </span> <%= comment.Message %> </div>
                      <div class="comment-footer my-2">
                          <span class="mx-3">1d</span>
                          <a href="#">102 likes</a>
                          <a href="#">Reply</a>
                      </div>
                  </div>
              </div>
              <div class="comment-footer mx-5 ">
                  <a href="#">  ----  View 39 replies</a>
              </div>
          </div>
          <div>
            <form method="POST" class="mb-1 ms-4" action="/Rooms/<%= roomInfo._id %>/showImage/<%= media._id %>/Comment/<%= comment._id %>">
              <button class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>
      <%}%>

    </div>
  </div>

    
    
  <%if(currUser){%>
      <div class="mt-6">
        <form action="/Rooms/<%= roomInfo._id %>/AddImages/<%= media._id %>/comments" method="post" novalidate class="needs-validation">
          <div class="Comment-Message d-flex mx-auto">
            <div class="mb-3">
              <textarea class="form-control pt-4" name="Comment[Message]" placeholder="Enter Your Comment Here.." style="width: 80vw"  required></textarea>
              <div class="invalid-feedback">Please Enter Your Comment</div>
            </div>
            <div class="Message-Send">
              <button type="submit" class="btn btn-outline-success mt-2 mx-3 px-6 py-3"> Send </button>
            </div>
          </div>
        </form>
      </div>
  <%}%>
</hr> 

</div>
